/**********************************/
/**      Estilos del header      **/
/**********************************/
.header {
  margin-bottom: 15px;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/deviled-eggs-banner.jpg");
  height: 25vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.title {
  font-family: 'Neucha', cursive;
  color: gainsboro;
  text-shadow: 1px 1px 2px grey;
  font-size: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**********************************/
/**      Estilos del footer      **/
/**********************************/
.footer {
  background-color: dimgrey;
  padding: 35px 0px;
  text-align: center;
}

.authorship {
  font-family: 'Merienda', cursive;
  font-size: 20px;
  color: darkgrey;
}

.link {
  color:silver;
}

/**********************************/

/* ⤵️⤵️⤵️ Receta de Clara ⤵️⤵️⤵️ */
.huevosRellenos {
  background-color: rosybrown;
}

.huevosRellTitle {
  color: sandybrown;
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  font-size: x-large;
  margin-bottom: 10px;
}

.huevosRellDiv {
  background-color: sandybrown;
  border-radius: 10px;
}

.huevosRellUl {
  line-height: 25px;
}

.huevosRellText {
  color: beige;
  text-align: justify;
  margin-top: 5px;
  line-height: 25px;
}
/* ⤴️⤴️⤴️ Receta de Clara ⤴️⤴️⤴️ */

/**********************************/

/* ⤵️⤵️⤵️ Receta de Yoli ⤵️⤵️⤵️ */

.Mufins {
  background-color: rgb(240, 195, 47);
}

.mufinsTitle { 
  text-transform: uppercase;
  text-align: center;
  font-size: x-large;
  margin-bottom: 10px;
}

.mufinsTitle, .mufinsText {
  color: rgb(246, 248, 140);
  font-family: "Sans-serif";
  text-shadow: 1px 1px 1px rgb(87, 85, 85);
}

.mufinsDiv {
  display: flex;
  background: linear-gradient(90deg, rgb(231, 215, 200), rgb(224, 188, 153), rgb(235, 181, 131));
  border-radius: 10px;
}

.mufinsIngr {
  line-height: 18px;
  padding: 1%;
}
.mufinsImg {
  padding: 1%;
  position: relative;
  width: 12rem;
  height: 12rem;
}

.mufinsText {
  text-align: justify;
  font-size: large;
  margin: 1px;
  line-height: 25px;
}

.mufinsInstr {
  color: rgba(0, 0, 0, 0.767);
  
}

/* ⤴️⤴️⤴️ Receta de Yoli ⤴️⤴️⤴️ */

/**********************************/

/* ⤵️⤵️⤵️ Tus estilos aquí ⤵️⤵️⤵️ */

/* ⤴️⤴️⤴️ Tus estilos aquí ⤴️⤴️⤴️ */

/**********************************/

/* ⤵️⤵️⤵️ Tus estilos aquí ⤵️⤵️⤵️ */

/* ⤴️⤴️⤴️ Tus estilos aquí ⤴️⤴️⤴️ */

/**********************************/

/* ⤵️⤵️⤵️ Tus estilos aquí ⤵️⤵️⤵️ */

/* ⤴️⤴️⤴️ Tus estilos aquí ⤴️⤴️⤴️ */

/**********************************/